html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

h2 {
    font-weight: 700;
    color: $color-heading;
    text-transform: uppercase;
}

ul {
    list-style: none;
}