html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $color-secondary;
}

h2, h3 {
    font-weight: 700;
    color: $color-heading;
    text-transform: uppercase;
}
p {
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-secondary;
}

a:visited {
    color: $color-secondary;
}

.hidden {
    opacity: 0;
}