.detail {
    padding: 14rem 4rem 0rem 4rem;
    display: grid;
    justify-content: center;

    @include tablet {
        padding: 14rem 10rem 0 10rem;
    }

    @include desktop {
        padding: 16rem 10rem 0 10rem;
    }

    @include desktop-large {
        padding: 30rem 10rem 0 10rem;
    }

    h1 {
        font-size: 3.6rem;
        margin-bottom: 0;
        text-align: center;
        
        @include desktop-large {
            font-size: 5.6rem;
        }
    }

    .back {
        font-size: 5rem;
        position: fixed;
        z-index: 300;
    }

    .navigate__projects {
        width: 100%;
        position: fixed;
        bottom: 8rem;
        left: 0;

        .navigate__wrapper {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            text-align: center;

            a {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
                text-transform: uppercase;
            }
        }
    }

    .role__tags {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;

        span {
            text-align: center;
        }
    }

    .content {
        max-width: 80rem;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .description {
            margin-top: 6rem;
    
            @include desktop {
                margin: 6rem auto;
            }
        }

        .team {
            margin: 2rem auto;


            .person {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-content: center;
                grid-gap: 1rem;

                p {
                    font-size: 1rem;
                    margin: 0;
                }

                a {
                    font-size: 1rem;
                }
            }
        }
    
        .external__links {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
    
            span {
                text-align: center;
    
                a {
                    font-size: 2rem;
                }
            }
        }
    }

    .date {
        display: grid;
        width: 100%;
        margin-top: 10rem;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        
        span {
            text-align: center;
        }

        .year {
            font-size: 2rem;
        }

        .month {
            font-size: 1.4rem;
        }
    }

    .images {
        margin-top: 1rem;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .accordion {
        max-width: 80rem;
        cursor: pointer;
    }
}