.detail {
    padding-top: 14rem;
    display: grid;
    justify-content: center;

    h1 {
        font-size: 3.6rem;
        margin-bottom: 0;
    }

    .role__tags {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;

        span {
            text-align: center;
        }
    }
}