header {
    position: fixed;
    width: 100%;
    z-index: 900;

    .header {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: center;
        background: $color-primary;
        padding: 2rem 0 2rem 0;
        z-index: 9998;

        .logo__wrapper {
            text-align: center;
            padding-right: 6.8rem;
            z-index: 999999;
        }

        img {
            height: 4rem;
            text-align: center;
            padding-top: 0.5rem;
            margin-top: 0.5rem;

            @include tablet {
                height: 6rem;
            }
            
            @include desktop-large {
                height: 14rem;
            }
        }
    }

    .menu__wrapper {
        z-index: 100;
        
        .menu {
            img {
                height: 2.5rem;
                margin: 1rem;
                padding: 1rem;
                cursor: pointer;
            }

            .cover {
                position: fixed;
                background: $color-primary;
                height: 0;
                width: 0;
                top: 0;
            }

            .open__menu {
                visibility: hidden;
                opacity: 0;
            }
        }

        .menu__expanded {

            .open__menu {
                position: fixed;
                display: grid;
                width: 100%;
                z-index: 200;
                visibility: visible;
                opacity: 1;
                padding-top: 15.5rem;
                
                @include tablet {
                    padding-top: 17.5rem;
                }
    
                img {
                    position: relative;
                    top: -15.5rem;
                    height: 2.5rem;
                    margin: 1rem;
                    padding: 1rem;
                    cursor: pointer;
                }

                .navigation {
                    list-style: none;

                    li {
                        color: $color-secondary;
                        font-size: 3rem;
                        margin: 2rem;
                        padding: 1rem;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }
        }

    }

    .open__menu {
        transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
    }
}