.introduction {
    display: grid;
    justify-content: center;
    padding-top: 18rem;

    @include tablet {
        padding-top: 20rem;
    }

    @include desktop {
        padding-top: 26rem;
    }

    h1 {
        display: grid;
        grid-template-columns: 8.4rem 1fr;

        .hello {
            grid-column: 1;
            font-size: 4.4rem;
            font-weight: 700;
        }

        .speciality-one {
            grid-column: 2;
            grid-row: 1;
            font-size: 4.4rem;
            font-weight: 100;
        }
        
        .speciality-two {
            grid-column: 2;
            grid-row: 2;
            font-size: 4.4rem;
            font-weight: 100;

            .bold {
                font-weight: 700;
            }
        }
    }
}