.works {
    margin-top: 8rem;
    width: 100%;
    overflow: hidden;

    @include tablet {
        margin-top: 10rem;
    }

    @include desktop {
        margin-top: 16rem;
    }


    .projects__container {
        width: 100%;
    }

        .projects__wrapper {
            display: flex;
            flex-wrap: nowrap;
            min-width: min-content;
            //width: 60%;
            //margin: 4rem auto;
    
    
            div {
                margin-left: 4rem;
                width: 60rem;
                height: 80vh;
                background-position: 50%;
                background-size: cover;
            }
        }


}

@keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

